.bg-color{
    background-color: black;
    height: 1080px;
    position: relative;
    margin:-20px;
    .bg-img{
        background-image: url('../../../../../assets/img/stars.png');
        position: absolute;
        // width: 1920px;
        width:100%;
        height: 1080px;
        margin: 0 auto;
        z-index: 0.999999999999999999;
         background-size: cover;
    
      .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 175px;
        padding-left: 435px;
    } 
   .btn{
    display: flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 105px;
    margin-left:100px;
    .btn1{
        background-color: #FE3B1F;
        border-radius: 50px;
        font-size: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        letter-spacing: 1px;
        text-transform: capitalize;
        padding: 20px 70px;
        text-decoration: none;
    }
        .btn2{
            display: flex;
            align-items: center;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-decoration-line: underline;
            color: #FFFFFF;
            background-color: black;
            border:  none;
            margin-top: 18px;
            letter-spacing: 0.5px;
            text-transform: capitalize;
        }
     }
    .img{
        // width: 409.92px;
        height: 372.45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   }
}