<div class="container">
    <div class="bg-img"></div>
    <h1 class="title">welcome rocketeer !</h1>
    <!-- <div class="logo">
        <img src="../../../../../assets/img/logo.png" alt="logo">
    </div> -->
    <div class="btn">
        <button class="btn1">
            start questionnaire
        </button>
        <button class="btn2">
            submitted applications
        </button>
    </div>
    <div class="img">
        <img src="../../../../../assets/img/rocketman.png" alt="man">
    </div>
</div>
