.ng-div{
    height: 745px;
    background-color: black;
    margin: -65px;
 }
 .title{
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 119px;
    align-items: center;
    text-align: center;
    color: #FE3B1F;
    padding-top:13%;
 }