.title{
    font-family: 'Rowdies';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    color: #FE3B1F;
    text-transform: capitalize;
    padding-left:150px;
    padding-top: 25px;
}
.answer-p{
    padding-top:50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding-left:150px;
    color: #000000;
}
.form{
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left:150px;
}
.text-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top:60px;
    padding-left:150px;
    padding-bottom: 30px;

}
#text{
    width: 500px;
    height: 150px;
    color: grey;
    padding: 15px;
    margin-left:150px;
    font-size: 18px;
    
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 300px;
    padding-right: 200px;
    margin-top: 50px;
    .active{
        color:red;
    }
    .circle{
        color: #FE3B1F;
        opacity: 0.1;
    }
    .circle2{
        color:red;
    }
}